* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/****** FONTE ******/
h1,
h2,
a {
  font-family: "Amaranth", sans-serif;
  font-weight: 100;
}

p {
  font-family: "Carme", sans-serifs;
  line-height: 30px;
}

.co2_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

/******************/

.baggrundsfarve {
  background-color: rgba(235, 226, 216, 0.37);
  padding: 10px 50px;
  border-radius: 12px;
  width: 95%;
  margin: 50px auto;
  text-align: center;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 70px;
  }

  .baggrundsfarve {
    padding: 50px 150px;
    margin: 40px auto;
  }

  .co2_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .levelup {
    text-align: left;
    padding-top: 20px;
  }

  .levelupoverskrift {
    text-align: start;
    margin: 20px;
  }

  .bobbelgrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .test {
    display: grid;
    justify-content: end;
  }

  /* .gridflexprofil {
    display: flex;
    align-items: flex-end;
    padding-left: 4rem;
    width: 100%;
  } */
}
