* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
