* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

/****** FONTE ******/
h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Amaranth", sans-serif;
  font-weight: 100;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

h2 {
  font-family: "Amaranth", sans-serif;
  font-weight: 100;
  text-align: left;
  font-size: 2rem;
}

h3 {
  font-family: "Amaranth", sans-serif;
  font-weight: 100;
  text-align: left;
  font-size: 1.5rem;
}

a {
  font-family: "Amaranth", sans-serif;
  font-weight: 100;
  color: #001e96;
  text-decoration: none;
  list-style: none;
}

p {
  font-family: "Carme", sans-serifs;
  line-height: 30px;
}

/******************/

.baggrundsfarve {
  background-color: rgba(235, 226, 216, 0.37);
  padding: 30px 50px;
  border-radius: 12px;
  width: 95%;
  margin: 20px auto;
  text-align: center;
}

.signup-box {
  background: #f7f3ef;
  padding: 30px;
  max-width: 450px;
  margin: 0 auto;
  gap: 14px;
}

label {
  width: 140px;
  font-size: 1rem;
  font-weight: 600;
}

input {
  flex: 1;
  padding: 12px 16px;
  border: 2px solid #001e96;
  border-radius: 30px;
  font-size: 1rem;
  outline: none;
}
.submit-knap {
  display: block;
  margin: 30px auto 0 auto;
  padding: 12px 30px;
  background: #001e96;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s ease;
}

.submit-btn:hover {
  background: #002fcc;
}

ul.menu {
  list-style: none;
  padding: 30px;
  justify-content: left;
}

@media (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .baggrundsfarve {
    padding: 50px 150px;
    margin: 20px auto;
  }

  .co2_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .levelup {
    text-align: left;
    padding-top: 20px;
  }

  .bobbelgrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .højre {
    display: grid;
    justify-content: end;
    max-width: 400px;
  }

  .højre > * {
    max-width: 400px;
  }

  .signup-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #f7f3ef;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    gap: 30px;
  }

  label {
    width: 140px;
    font-size: 1rem;
    font-weight: 600;
  }

  input {
    flex: 1;
    padding: 12px 60px;
    border: 2px solid #001e96;
    border-radius: 30px;
    font-size: 1rem;
    outline: none;
  }
  .submit-knap {
    display: block;
    margin: 30px auto 0 auto;
    padding: 12px 30px;
    background: #001e96;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s ease;
  }

  .submit-btn:hover {
    background: #002fcc;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 30px;
    color: #001e96;
    text-decoration: none;
  }
  ul.menu {
    list-style: none;
  }
}
