* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.baggrundsfarve {
  background-color: rgba(235, 226, 216, 0.37);
  padding: 10px 50px;
  border-radius: 12px;
  width: 95%;
  margin: 50px auto;
  text-align: center;
}

/****** FONTE ******/
h1,
h2,
a {
  font-family: "Amaranth", sans-serif;
  font-weight: 100;
}

p {
  font-family: "Carme", sans-serifs;
  line-height: 30px;
}

/******************/

@media (min-width: 800px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 70px;
  }

  .baggrundsfarve {
    padding: 50px 150px;
    margin: 40px auto;
  }
}
