---
import OversigtCard from "../components/OversigtCard.astro";
import OverskriftCard from "../components/OverskriftCard.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout>
  <OverskriftCard slot="OverskriftCard" title="FÆLLESSKAB OG BEVÆGELSE" />

  <section>
    <OversigtCard />
  </section>
</PageLayout>
