---
import OversigtCard from "../components/OversigtCard.astro";
import OverskriftCard from "../components/OverskriftCard.astro";
import PageLayout from "../layout/PageLayout.astro";


const url = "https://zcoyexxpigipyagyxcfr.supabase.co/rest/v1/tilbud";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpjb3lleHhwaWdpcHlhZ3l4Y2ZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5MzcwMDUsImV4cCI6MjA4MTUxMzAwNX0.E7F0l3S6iLF5y0SDOwx6ZNnTdPxAG4DBZDIWIlbd2Dk";

const options = {
  headers: {
    apikey: key,
  },
};

const supaRequest = await fetch(url, options);
const supaData = await supaRequest.json();

console.log("supaData", supaData);
---

<PageLayout>
  <OverskriftCard slot="OverskriftCard" title="FÆLLESSKAB OG BEVÆGELSE" />

  <section class="grid_1-1-1">
    <OversigtCard text="DANKORT IMPACT RUNNING CLUB" img="imgs/loeb1.webp" href="/" />
    <OversigtCard text="STRIKKEKLUB" img="imgs/strik1.webp" href="/" />
    <OversigtCard text="DANKORT IMPACT X BEAT RIDERS" img="imgs/beatriders2.webp" href="/" />
    <OversigtCard text="MORGENDYP" img="imgs/morgendyp1.webp" href="/" />
    <OversigtCard text="DANKORT IMPACT X SAUNA85" img="imgs/sauna1.webp" href="/" />
    <OversigtCard text="LANGBORDSMIDDAG" img="imgs/langbord2.webp" href="/" />
    <OversigtCard text="SANKE I SKOVEN" img="imgs/sanke2.webp" href="/" />
    <OversigtCard text="VERAS MARKET" img="imgs/veras1.webp" href="/" />
    <OversigtCard text="TOO GOOD TOO GO" img="imgs/toogood2.webp" href="/" />
    <OversigtCard text="TEGNE WORKSHOP" img="imgs/tegne1.webp" href="/" />
    <OversigtCard text="MEDITATION" img="imgs/meditation2.webp" href="/" />
    <OversigtCard text="KLATRING" img="imgs/klatre1.webp" href="/" />
  </section>
</PageLayout>

