---
import OversigtCard from "../components/OversigtCard.astro";
import OverskriftCard from "../components/OverskriftCard.astro";
import PageLayout from "../layout/PageLayout.astro";


const url = "https://zcoyexxpigipyagyxcfr.supabase.co/rest/v1/tilbud?select=*&order=id.asc";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpjb3lleHhwaWdpcHlhZ3l4Y2ZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5MzcwMDUsImV4cCI6MjA4MTUxMzAwNX0.E7F0l3S6iLF5y0SDOwx6ZNnTdPxAG4DBZDIWIlbd2Dk";

const options = {
  headers: {
    apikey: key,
  },
};

const supaRequest = await fetch(url, options);
const supaData = await supaRequest.json();

console.log("supaData", supaData);
---

<PageLayout>
<h1 slot="hero" >FÆLLESSKAB OG BEVÆGELSE</h1>

  <section class="grid_1-1-1">
  {supaData.map((tilbud) => (
    <OversigtCard
      text={tilbud.title}
      img={tilbud.img1}
      href={`/tilbud/${tilbud.slug}`}
    />
  ))}
</section>
</PageLayout>



