---
import OversigtCard from "../components/OversigtCard.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout>
  <h1>FÆLLESSKAB OG BEVÆGELSE</h1>

  <section>
    <OversigtCard />
  </section>
</PageLayout>
