---
import PageLayout from "../layout/PageLayout.astro";
import AftrykCard from "../components/AftrykCard.astro";
import LevelUpCard from "../components/LevelUpCard.astro";
import BobbelCard from "../components/BobbelCard.astro";
import BobbelTekstCard from "../components/BobbelTekstCard.astro";
import OverskriftCard from "../components/OverskriftCard.astro";
import TekstboksCard from "../components/TekstboksCard.astro";
---

<PageLayout>
  <!-- <OverskriftCard slot="OverskriftCard" title="MIN PROFIL" /> -->
  <h1 slot="hero" >MIN PROFIL</h1>


  <section class="bobbelgrid">
    <BobbelTekstCard title="Mine point:" subtitle="220"/>
    <BobbelCard img="/imgs/Group 36.svg" />
  </section>

  <section class="test">
    <TekstboksCard title="Dankort IMPACT giver dig et hurtigt overblik over, hvordan dine daglige valg påvirker klima og økonomi" text1="Du kan se, hvordan dit forbrug fordeler sig på kategorier som transport, mad, shopping og hjem - uden løftede pegefingre, kun klar indsigt. Små ændringer gør en stor forskel. Her kan du følge dine vaner, se dine fremskridt og finde motivation i det fællesskab, du er en del af." />
  </section>
  

  <h1 class="levelupoverskrift">Sådan fordeles dit aftryk</h1>

  <section class="co2_grid">
    <AftrykCard title="Transport" subtitle="kg CO₂" text="100" />
    <AftrykCard title="Shopping" subtitle="kg CO₂" text="30" />
    <AftrykCard title="Mad" subtitle="kg CO₂" text="10" />
    <AftrykCard title="Hjem" subtitle="kg CO₂" text="66" />

  </section>

  <h1 class="levelupoverskrift">Level up dine vaner</h1>

  <section class="levelup">
    <LevelUpCard img="/public/imgs/Fiat 500.svg" title="Smart Food Switch" text="Drop bilen én dag om ugen og vælg cykel eller bus? Bonus: du får både point og frisk energi." />
    <LevelUpCard img="/public/imgs/Exterior.svg" title="Daily Reset Challenge" text="Kan du holde en dag helt uden unødvendigt forbrug? En zero-spend day = point direkte på kontoen." />
    <LevelUpCard img="/public/imgs/Food.svg" title="Move More Mission" text="Prøv én dag med lokale køb eller plantebaserede måltider. Det sparer både klima - og giver dig lette point." />
    <LevelUpCard img="/public/imgs/Shopping Bag.svg" title="Impulse Blocker Challenge" text="Udfordr dig selv: ingen impulskøb i 24 timer? Klarer du den? Så tikker pointene ind." />
  </section>
</PageLayout>
