---
import AftrykCard from "../components/AftrykCard.astro";
import LevelUpCard from "../components/LevelUpCard.astro";
---

<section>
  <AftrykCard title1="Transport" subtitle1="Kg CO2" text1="100" title2="Shopping" subtitle2="Kg CO2" text2="30" title3="Hjem" subtitle3="Kg CO2" text3="66" title4="Mad" subtitle4="Kg CO2" text4="10" />
</section>
<section>
  <LevelUpCard img="/public/imgs/Exterior.svg" title="Daily Reset Challenge" text="Kan du holde en dag helt uden unødvendigt forbrug? En zero-spend day = point direkte på kontoen." />
  <LevelUpCard img="/public/imgs/Food.svg" title="Move More Mission" text="Prøv én dag med lokale køb eller plantebaserede måltider. Det sparer både klima – og giver dig lette point." />
  <LevelUpCard img="/public/imgs/Shopping Bag.svg" title="Impulse Blocker Challenge" text="Udfordr dig selv: ingen impulskøb i 24 timer? Klarer du den? Så tikker pointene ind." />
  <LevelUpCard img="/public/imgs/Fiat 500.svg" title="Smart Food Switch" text="Drop bilen én dag om ugen og vælg cykel eller bus? Bonus: du får både point og frisk energi." />
</section>
