---
import SignUpCard from "../components/SignUpCard.astro";
import TekstboksCard from "../components/TekstboksCard.astro";
import Button from "../components/Button.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout>
  <h1 slot="hero" >BLEV EN DEL AF FÆLLESSKABET</h1>


  <section>
    <TekstboksCard title="Velkommen til Dankort IMPACT" text1="Som eksisterende kunde hos Dankort, kan du nemt og gratis tilmelde dig med dit Dankort og begynde at optjene point for dine bæredygtige valg."/>
  </section>

  <section class="signup-box">
    <SignUpCard text="Fornavn:" />
    <SignUpCard text="Efternavn:" />
    <SignUpCard text="Telefonnummer:" />
    <SignUpCard text="E-mail:" />
    <SignUpCard text="Fødselsdag:" />
    <SignUpCard text="Reg.nr. og kontonr.:" />
  </section>

  <Button text="SEND" href="https://dankort.dk/" /> 
</PageLayout>
