---
import OverskriftCard from "../components/OverskriftCard.astro";
import SignUpCard from "../components/SignUpCard.astro";
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout>
  <OverskriftCard slot="OverskriftCard" title="TILMELD DIG HER" />
  <section class="signup-box">
    <SignUpCard text="Navn:" />
    <SignUpCard text="Efternavn:" />
    <SignUpCard text="Tlf+:" />
    <SignUpCard text="Fødselsdag:" />
    <SignUpCard text="Konto / RegNr:" />

    <a href="https://dankort.dk/"> <button class="submit-knap">SUBMIT</button> </a>
  </section>
</PageLayout>
