---
const { text, img, href } = Astro.props;
---
<article>
<a href={href} class="img-text">
  <span class="tag">{text}</span>
  <img src={img} alt="" />
</a>
</article>

<style>

article {
  margin-bottom: 1.5rem;
}

.img-text {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
    display: block;
}

.img-text img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img-text .tag {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
</style>