<footer>
    <section>
        <a href="https://www.instagram.com/dankort.danmark/">INSTAGRAM</a>
        <a href="https://www.facebook.com/dankort.danmark/?locale=da_DK">FACEBOOK</a>
        <a href="https://www.linkedin.com/showcase/dankort/">LINKEDIN</a>
        <a href="/">KONTAKT OS</a>
    </section>
    <img src="/imgs/logo_footer.svg" alt="Logo">
</footer>

<style>

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-bottom: 3rem;
}

a {
    color: black;
    font-family: "Carme", sans-serif;
}

img {
  max-width: 180px;   justér efter smag
  width: 100%;
  height: auto;

}





</style>