<footer>
    <section class="grid">
        <a href="https://www.instagram.com/dankort.danmark/">INSTAGRAM</a>
        <a href="https://www.facebook.com/dankort.danmark/?locale=da_DK">FACEBOOK</a>
        <a href="https://www.linkedin.com/showcase/dankort/">LINKEDIN</a>
        <a href="/">KONTAKT OS</a>
    </section>
    <img src="/imgs/logo_footer.svg" alt="Logo">
</footer>

<style>


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

img {
  max-width: 50px;
  width: 100%;
  height: auto;

}

a {
    color: black;
    font-family: "Carme", sans-serif;
    font-size: smaller;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

@media (min-width: 800px) {

.grid {
    gap: 4rem;
}
}

</style>