---
import Navigation from "./Navigation.astro";
import BurgerMenu from "./BurgerMenu.astro";
---

<header>
  <a href="/"><img src="imgs/logo.svg" alt="logo" /></a>
  <!-- <Navigation /> -->
  <BurgerMenu />
</header>

<style>
  header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    background: white;
    align-items: flex-end;
    margin-left: 2rem;
    list-style: none;
    margin-bottom: 20px;
  }

  header img {
    width: 80%;
    height: auto;
  }
</style>
