---
const { img, text, title } = Astro.props;
---

<article class="grid-1_1">
  <div class="ikoner">
    <img src={img} />
  </div>
  <div>
    <h3>{title}</h3>
    <p>{text}</p>
  </div>
</article>

<style>
  .grid-1_1 {
    display: grid;
    grid-template-columns: 1fr 7fr;

    padding-top: 20px;
  }
  img {
    width: 50%;
    align-items: center;
  }

  title {
    font-weight: 30px;
  }

  p {
    text-align: left;
  }

  .ikoner {
  }
</style>
