<nav><a href="/">FORSIDE</a> <a href="/oversigt">FÆLLESSKAB OG BEVÆGELSE</a> <a href="/profil">PROFIL</a></nav>


<style>

    nav {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        margin-top: auto;
    }


    a {
        font-family: "Amaranth", sans-serif;
        text-decoration: none;
        color: #001B95;
        font-size: larger;
    }

    a:hover {
        text-decoration: underline;
    }

</style>