<nav class="desktop" ><a href="/">FORSIDE</a> <a href="/oversigt">FÆLLESSKAB OG BEVÆGELSE</a> <a href="/profil">PROFIL</a></nav>


<style>

    nav {
        display: flex;
        gap: 3rem;
        padding-bottom: 2rem;
    }

    a {
        font-family: "Amaranth", sans-serif;
        text-decoration: none;
        color: #001B95;
        font-size: larger;
    }

    a:hover {
        text-decoration: underline;
    }

</style>