---
const { text, img, href } = Astro.props;


// // export async function getStaticPaths() {

// const url = "https://zcoyexxpigipyagyxcfr.supabase.co/rest/v1/tilbud";
// const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpjb3lleHhwaWdpcHlhZ3l4Y2ZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU5MzcwMDUsImV4cCI6MjA4MTUxMzAwNX0.E7F0l3S6iLF5y0SDOwx6ZNnTdPxAG4DBZDIWIlbd2Dk";


// const options = {
//   headers: {
//     apikey: key,
//   },
// };

// const supaRequest = await fetch(url, options);
// const supaData = await supaRequest.json();

// console.log("supaData", supaData);

//     return supaData.map((data) => {
//         return {
//             params: { slug: data.slug},
//             props: { data },
//         };
//     });

---
<article>
<a href={href} class="img-text">
  <span class="tag">{text}</span>
  <img class="img" src={img} alt=""/>
</a>
</article>


<style>
article {
  margin-bottom: 1.5rem;
}

.img-text {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: block;
  aspect-ratio: 16 / 9;
}

.img-text img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.img-text .tag {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 1.1rem;
  padding: 1rem;
}

@media (min-width: 800px) {
.img-text .tag {
  font-size: 1.5rem;
}
}

</style>

